openapi: 3.1.0
info:
  title: Sleeper Draft MCP Actions API
  description: |
    OpenAI Custom GPT Actions shim for the Sleeper Draft MCP Server.

    This API provides a REST interface to interact with fantasy football data through
    the Model Context Protocol (MCP) server. All endpoints proxy requests to MCP tools
    that fetch data from the Sleeper fantasy sports platform and local player database.

    ## Available Tools

    - **fetch-trending-players**: Get trending player data based on recent adds/drops
    - **fetch-adp-players**: Get players ranked by Average Draft Position (ADP)
    - **fetch-user-leagues**: Get all leagues for a specific user
    - **draft-picks**: Get intelligent draft pick recommendations
    - **get-league**: Get detailed league information and users
    - **fetch-rosters**: Get roster data for all teams in a league
    - **get-matchups**: Get matchup data for a specific week

    ## Authentication

    Authentication may be required depending on server configuration.
    Check the MCP server configuration for required middleware.
  version: 1.0.0
  contact:
    name: API Support
    url: https://sleeperdraft.example.com
    email: support@example.com

servers:
  - url: https://sleeperdraft.com/api
    description: Production server


paths:
  /mcp/tools/{tool}:
    parameters:
      - name: tool
        in: path
        required: true
        schema:
          type: string
          enum:
            - fetch-trending-players
            - fetch-adp-players
            - fetch-user-leagues
            - draft-picks
            - get-league
            - fetch-rosters
            - get-matchups
        description: The MCP tool to invoke
    post:
      summary: Invoke MCP Tool
      description: |
        Invokes a specific MCP tool with the provided parameters.
        Each tool provides different fantasy football data and analysis.
      operationId: invokeMcpTool
      tags:
        - Fantasy Sports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/FetchTrendingPlayersRequest'
                - $ref: '#/components/schemas/FetchADPPlayersRequest'
                - $ref: '#/components/schemas/FetchUserLeaguesRequest'
                - $ref: '#/components/schemas/DraftPicksRequest'
                - $ref: '#/components/schemas/GetLeagueRequest'
                - $ref: '#/components/schemas/FetchRostersRequest'
                - $ref: '#/components/schemas/GetMatchupsRequest'
      responses:
        '200':
          description: Successful tool execution
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/FetchTrendingPlayersResponse'
                  - $ref: '#/components/schemas/FetchADPPlayersResponse'
                  - $ref: '#/components/schemas/FetchUserLeaguesResponse'
                  - $ref: '#/components/schemas/DraftPicksResponse'
                  - $ref: '#/components/schemas/GetLeagueResponse'
                  - $ref: '#/components/schemas/FetchRostersResponse'
                  - $ref: '#/components/schemas/GetMatchupsResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: Tool not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unknown tool"
                  message:
                    type: string
                    example: "Tool 'unknown-tool' is not available"
                  available_tools:
                    type: array
                    items:
                      type: string
        '500':
          $ref: '#/components/responses/ServerError'



components:
  schemas:
    # Request Schemas
    FetchTrendingPlayersRequest:
      type: object
      properties:
        type:
          type: string
          enum: [add, drop]
          description: The type of trending data to fetch
          example: "add"
      required:
        - type

    FetchADPPlayersRequest:
      type: object
      properties:
        position:
          type: string
          description: Optional filter to get players for a specific position (e.g., "QB", "RB", "WR", "TE")
          example: "QB"

    FetchUserLeaguesRequest:
      type: object
      properties:
        user_identifier:
          type: string
          description: Sleeper username or user ID to fetch leagues for
          example: "johndoe123"
        sport:
          type: string
          description: Sport type
          default: "nfl"
          example: "nfl"
        season:
          type: string
          description: Season year
          example: "2024"
      required:
        - user_identifier

    DraftPicksRequest:
      type: object
      properties:
        user_id:
          type: string
          description: Sleeper user ID
          example: "123456789"
        draft_id:
          type: string
          description: Sleeper draft ID
          example: "987654321"
        limit:
          type: integer
          description: Maximum number of suggestions to return
          minimum: 1
          maximum: 50
          default: 10
          example: 15
      required:
        - user_id
        - draft_id

    GetLeagueRequest:
      type: object
      properties:
        user_id:
          type: string
          description: Sleeper user ID to fetch leagues for
          example: "123456789"
        league_identifier:
          type: string
          description: League name or league ID to find and return
          example: "My Fantasy League"
        sport:
          type: string
          description: Sport type
          default: "nfl"
          example: "nfl"
        season:
          type: string
          description: Season year
          example: "2024"
      required:
        - user_id
        - league_identifier

    FetchRostersRequest:
      type: object
      properties:
        league_id:
          type: string
          description: Sleeper league ID to fetch rosters for
          example: "987654321"
        include_player_details:
          type: boolean
          description: Whether to include detailed player information from database
          default: true
          example: true
        include_owner_details:
          type: boolean
          description: Whether to include owner/user details from Sleeper API
          default: true
          example: true
      required:
        - league_id

    GetMatchupsRequest:
      type: object
      properties:
        league_id:
          type: string
          description: Sleeper league ID to fetch matchups for
          example: "987654321"
        week:
          type: integer
          description: Week number to fetch matchups for (defaults to current week)
          minimum: 1
          maximum: 18
          example: 5
        user_id:
          type: string
          description: Optional Sleeper user ID to filter matchups for a specific user
          example: "123456789"
        username:
          type: string
          description: Optional username to filter matchups for a specific user
          example: "fantasyexpert"
        sport:
          type: string
          description: Sport type
          default: "nfl"
          example: "nfl"
      required:
        - league_id

    # Response Schemas
    FetchTrendingPlayersResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Player'
        count:
          type: integer
          example: 25
        message:
          type: string
          example: "Successfully fetched 25 trending players for type 'add'"
        metadata:
          type: object
          properties:
            type:
              type: string
              example: "add"
            column:
              type: string
              example: "adds_24h"
            executed_at:
              type: string
              format: date-time

    FetchADPPlayersResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Player'
        count:
          type: integer
          example: 50
        message:
          type: string
          example: "Successfully fetched 50 players by ADP for all positions"
        metadata:
          type: object
          properties:
            position_filter:
              type: string
              nullable: true
              example: "QB"
            order_by:
              type: string
              example: "adp"
            order_direction:
              type: string
              example: "asc"
            executed_at:
              type: string
              format: date-time

    FetchUserLeaguesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/League'
        count:
          type: integer
          example: 3
        message:
          type: string
          example: "Successfully fetched 3 leagues for user 'fantasyexpert'"
        metadata:
          type: object
          properties:
            user_identifier:
              type: string
              example: "fantasyexpert"
            sport:
              type: string
              example: "nfl"
            season:
              type: string
              example: "2024"
            executed_at:
              type: string
              format: date-time

    DraftPicksResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/DraftRecommendation'
        count:
          type: integer
          example: 10
        message:
          type: string
          example: "Successfully generated 10 draft pick recommendations"
        metadata:
          type: object
          properties:
            user_id:
              type: string
              example: "123456789"
            draft_id:
              type: string
              example: "987654321"
            limit:
              type: integer
              example: 10
            executed_at:
              type: string
              format: date-time

    GetLeagueResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/DetailedLeague'
        message:
          type: string
          example: "Successfully fetched league 'Championship League'"
        metadata:
          type: object
          properties:
            user_id:
              type: string
              example: "123456789"
            league_identifier:
              type: string
              example: "Championship League"
            sport:
              type: string
              example: "nfl"
            season:
              type: string
              example: "2024"
            executed_at:
              type: string
              format: date-time

    FetchRostersResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Roster'
        count:
          type: integer
          example: 12
        message:
          type: string
          example: "Successfully fetched 12 rosters for league '987654321'"
        metadata:
          type: object
          properties:
            league_id:
              type: string
              example: "987654321"
            include_player_details:
              type: boolean
              example: true
            include_owner_details:
              type: boolean
              example: true
            executed_at:
              type: string
              format: date-time

    GetMatchupsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Matchup'
        count:
          type: integer
          example: 6
        message:
          type: string
          example: "Successfully fetched 6 matchups for league '987654321' week 5"
        metadata:
          type: object
          properties:
            league_id:
              type: string
              example: "987654321"
            week:
              type: integer
              example: 5
            user_filter:
              type: string
              nullable: true
              example: "123456789"
            sport:
              type: string
              example: "nfl"
            executed_at:
              type: string
              format: date-time

    Player:
      type: object
      properties:
        id:
          type: integer
          description: Player database ID
          example: 12345
        player_id:
          type: string
          description: Sleeper player ID
          example: "1234"
        name:
          type: string
          description: Player full name
          example: "Patrick Mahomes"
        position:
          type: string
          description: Player position
          example: "QB"
        team:
          type: string
          description: Player team
          example: "KC"
        age:
          type: integer
          description: Player age
          example: 28
        adp:
          type: number
          description: Average Draft Position
          example: 5.2
        adp_formatted:
          type: string
          description: ADP in round.pick format
          example: "1.05"
        adds_24h:
          type: integer
          description: Players added in last 24 hours
          example: 1250
        drops_24h:
          type: integer
          description: Players dropped in last 24 hours
          example: 450

    League:
      type: object
      properties:
        league_id:
          type: string
          description: Sleeper league ID
          example: "987654321"
        name:
          type: string
          description: League name
          example: "Championship League"
        season:
          type: string
          description: Season year
          example: "2024"
        sport:
          type: string
          description: Sport type
          example: "nfl"
        total_rosters:
          type: integer
          description: Total number of teams
          example: 12
        status:
          type: string
          description: League status
          example: "in_season"

    DetailedLeague:
      allOf:
        - $ref: '#/components/schemas/League'
        - type: object
          properties:
            users:
              type: array
              description: League participants with user details
              items:
                type: object
                properties:
                  user_id:
                    type: string
                    description: Sleeper user ID
                    example: "123456789"
                  username:
                    type: string
                    description: Username
                    example: "fantasyexpert"
                  display_name:
                    type: string
                    description: Display name
                    example: "Fantasy Expert"
                  team_name:
                    type: string
                    description: Team name in this league
                    example: "Expert's Eagles"

    DraftRecommendation:
      type: object
      properties:
        player_id:
          type: string
          description: Sleeper player ID
          example: "1234"
        name:
          type: string
          description: Player name
          example: "Patrick Mahomes"
        position:
          type: string
          description: Player position
          example: "QB"
        adp:
          type: number
          description: Average Draft Position
          example: 5.2
        adp_formatted:
          type: string
          description: ADP in round.pick format
          example: "1.05"
        recommendation_score:
          type: number
          description: Recommendation score (higher is better)
          example: 95.5
        reasoning:
          type: string
          description: Explanation for the recommendation
          example: "Elite QB with consistent performance and favorable ADP"

    Roster:
      type: object
      properties:
        roster_id:
          type: integer
          description: Roster ID
          example: 1
        owner_id:
          type: string
          description: Owner user ID
          example: "123456789"
        owner_username:
          type: string
          description: Owner username
          example: "fantasyexpert"
        owner_display_name:
          type: string
          description: Owner display name
          example: "Fantasy Expert"
        players:
          type: array
          description: Players on this roster
          items:
            $ref: '#/components/schemas/Player'
        starters:
          type: array
          description: Starting lineup player IDs
          items:
            type: string
          example: ["1234", "5678", "9012"]
        reserve:
          type: array
          description: Reserve/bench player IDs
          items:
            type: string
          example: ["3456", "7890"]

    Matchup:
      type: object
      properties:
        matchup_id:
          type: integer
          description: Matchup ID
          example: 1
        week:
          type: integer
          description: Week number
          example: 5
        home_team:
          type: object
          description: Home team details
          properties:
            roster_id:
              type: integer
              example: 1
            owner_username:
              type: string
              example: "fantasyexpert"
            points:
              type: number
              example: 125.5
            projected_points:
              type: number
              example: 118.2
        away_team:
          type: object
          description: Away team details
          properties:
            roster_id:
              type: integer
              example: 2
            owner_username:
              type: string
              example: "rivalfan"
            points:
              type: number
              example: 110.8
            projected_points:
              type: number
              example: 122.1

  responses:
    ValidationError:
      description: Validation error in request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Tool execution failed"
              message:
                type: string
                example: "Validation failed: The user_id field is required"
              mcp_error:
                type: object
                properties:
                  code:
                    type: integer
                    example: -32602
                  message:
                    type: string
                    example: "Invalid params"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Internal server error"
              message:
                type: string
                example: "An unexpected error occurred while processing the request"

tags:
  - name: Fantasy Sports
    description: Core fantasy sports data and analysis tools
  - name: Player Data
    description: Player statistics, rankings, and trending data
  - name: League Data
    description: League information, rosters, and participants
  - name: Roster Data
    description: Team rosters and player assignments
  - name: Matchup Data
    description: Weekly matchup results and projections
  - name: Draft Strategy
    description: Draft recommendations and strategy tools
